<!-- Page footer-->
            <footer><span>GAIL</span></footer>
        </main>  
    </div>
    <!-- Search template-->
    <div tabindex="-1" role="dialog" class="modal modal-top fade modal-search">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="pull-left">
              <button type="button" data-dismiss="modal" class="btn btn-flat"><em class="ion-arrow-left-c icon-24"></em></button>
            </div>
            <div class="pull-right">
              <button type="button" class="btn btn-flat"><em class="ion-android-microphone icon-24"></em></button>
            </div>
            <form action="#" class="oh">
              <div class="mda-form-control pt0">
                <input type="text" placeholder="Search.." data-localize="header.SEARCH" class="form-control header-input-search">
                <div class="mda-form-control-line"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- End Search template-->
    <!-- Settings template-->
    <div tabindex="-1" role="dialog" class="modal-settings modal modal-right fade">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <div data-dismiss="modal" class="pull-right clickable"><em class="ion-close-round text-soft"></em></div>
            <h4 class="modal-title"><span>Settings</span></h4>
          </div>
          <div class="modal-body">
            <div class="clearfix mb">
              <div class="pull-left wd-tiny mb">
                <div class="setting-color">
                  <label class="preview-theme-1">
                    <input type="radio" checked="checked" name="setting-theme" value="0"><span class="ion-checkmark-round"></span>
                    <div class="t-grid">
                      <div class="t-row">
                        <div class="t-col preview-header"></div>
                        <div class="t-col preview-sidebar"></div>
                        <div class="t-col preview-content"></div>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
              <div class="pull-left wd-tiny mb">
                <div class="setting-color">
                  <label class="preview-theme-2">
                    <input type="radio" name="setting-theme" value="1"><span class="ion-checkmark-round"></span>
                    <div class="t-grid">
                      <div class="t-row">
                        <div class="t-col preview-header"></div>
                        <div class="t-col preview-sidebar"></div>
                        <div class="t-col preview-content"></div>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
              <div class="pull-left wd-tiny mb">
                <div class="setting-color">
                  <label class="preview-theme-3">
                    <input type="radio" name="setting-theme" value="2"><span class="ion-checkmark-round"></span>
                    <div class="t-grid">
                      <div class="t-row">
                        <div class="t-col preview-header"></div>
                        <div class="t-col preview-sidebar"></div>
                        <div class="t-col preview-content"></div>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
              <div class="pull-left wd-tiny mb">
                <div class="setting-color">
                  <label class="preview-theme-4">
                    <input type="radio" name="setting-theme" value="3"><span class="ion-checkmark-round"></span>
                    <div class="t-grid">
                      <div class="t-row">
                        <div class="t-col preview-header"></div>
                        <div class="t-col preview-sidebar"></div>
                        <div class="t-col preview-content"></div>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
              <div class="pull-left wd-tiny mb">
                <div class="setting-color">
                  <label class="preview-theme-5">
                    <input type="radio" name="setting-theme" value="4"><span class="ion-checkmark-round"></span>
                    <div class="t-grid">
                      <div class="t-row">
                        <div class="t-col preview-header"></div>
                        <div class="t-col preview-sidebar"></div>
                        <div class="t-col preview-content"></div>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
              <div class="pull-left wd-tiny mb">
                <div class="setting-color">
                  <label class="preview-theme-6">
                    <input type="radio" name="setting-theme" value="5"><span class="ion-checkmark-round"></span>
                    <div class="t-grid">
                      <div class="t-row">
                        <div class="t-col preview-header"></div>
                        <div class="t-col preview-sidebar"></div>
                        <div class="t-col preview-content"></div>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
              <div class="pull-left wd-tiny mb">
                <div class="setting-color">
                  <label class="preview-theme-7">
                    <input type="radio" name="setting-theme" value="6"><span class="ion-checkmark-round"></span>
                    <div class="t-grid">
                      <div class="t-row">
                        <div class="t-col preview-header"></div>
                        <div class="t-col preview-sidebar"></div>
                        <div class="t-col preview-content"></div>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
              <div class="pull-left wd-tiny mb">
                <div class="setting-color">
                  <label class="preview-theme-8">
                    <input type="radio" name="setting-theme" value="7"><span class="ion-checkmark-round"></span>
                    <div class="t-grid">
                      <div class="t-row">
                        <div class="t-col preview-header"></div>
                        <div class="t-col preview-sidebar"></div>
                        <div class="t-col preview-content"></div>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
              <div class="pull-left wd-tiny mb">
                <div class="setting-color">
                  <label class="preview-theme-9">
                    <input type="radio" name="setting-theme" value="8"><span class="ion-checkmark-round"></span>
                    <div class="t-grid">
                      <div class="t-row">
                        <div class="t-col preview-header"></div>
                        <div class="t-col preview-sidebar"></div>
                        <div class="t-col preview-content"></div>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
            </div>
            <hr>
            <p>
              <label class="mda-checkbox">
                <input id="sidebar-showheader" type="checkbox" checked=""><em class="bg-indigo-500"></em>Sidebar header
              </label>
            </p>
            <p>
              <label class="mda-checkbox">
                <input id="sidebar-showtoolbar" type="checkbox" checked=""><em class="bg-indigo-500"></em>Sidebar toolbar
              </label>
            </p>
            <p>
              <label class="mda-checkbox">
                <input id="sidebar-offcanvas" type="checkbox"><em class="bg-indigo-500"></em>Sidebar offcanvas
              </label>
            </p>
            <hr>
            <hr>
            <button type="button" data-toggle-fullscreen="" class="btn btn-default btn-raised">Toggle fullscreen</button>
            <!-- END Language list-->
          </div>
        </div>
      </div>
    </div>
    <script src="{$path}res/vendors/jquery/jquery-1.11.1.js"></script>    
    <script src="{$path}res/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="{$path}res/vendors/owl/dist/owl.carousel.min.js"></script>
    <script src="{$path}res/vendors/alertify/alertify.min.js"></script>
    <script src="{$path}res/vendors/modernizr/modernizr.custom.js"></script>
    <script src="{$path}res/vendors/jquery.browser/dist/jquery.browser.js"></script>
    <script src="{$path}res/vendors/material-colors/dist/colors.js"></script>
    <script src="{$path}res/vendors/bootstrap-filestyle/src/bootstrap-filestyle.js"></script>
    <script src="{$path}res/vendors/flot/jquery.flot.js"></script>
    <script src="{$path}res/vendors/flot/jquery.flot.categories.js"></script>
    <script src="{$path}res/vendors/flot-spline/js/jquery.flot.spline.js"></script>
    <script src="{$path}res/vendors/flot.tooltip/js/jquery.flot.tooltip.js"></script>
    <script src="{$path}res/vendors/flot/jquery.flot.resize.js"></script>
    <script src="{$path}res/vendors/flot/jquery.flot.pie.js"></script>
    <script src="{$path}res/vendors/flot/jquery.flot.time.js"></script>
    <script src="{$path}res/vendors/sidebysideimproved/jquery.flot.orderBars.js"></script>
    <script src="{$path}res/vendors/ika.jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="{$path}res/vendors/ika.jvectormap/jquery-jvectormap-us-mill-en.js"></script>
    <script src="{$path}res/vendors/ika.jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="{$path}res/vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.js"></script>
    <script src="{$path}res/vendors/screenfull/dist/screenfull.js"></script>
    <script src="{$path}res/vendors/sparkline/index.js"></script>
    <script src="{$path}res/vendors/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{$path}res/vendors/jquery-knob/js/jquery.knob.js"></script>
    <script src="{$path}res/vendors/d3/d3.js"></script>
    <script src="{$path}res/vendors/rickshaw/rickshaw.js"></script>
    <script src="{$path}res/vendors/jquery-validation/dist/jquery.validate.js"></script>
    <script src="{$path}res/vendors/jquery-validation/dist/additional-methods.js"></script>
    <script src="{$path}res/vendors/jquery.steps/build/jquery.steps.js"></script>
    <script src="{$path}res/vendors/select2/dist/js/select2.js"></script>
    <script src="{$path}res/vendors/clockpicker/dist/bootstrap-clockpicker.js"></script>
    <script src="{$path}res/vendors/nouislider/distribute/nouislider.js"></script>
    <script src="{$path}res/vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js"></script>
    <script src="{$path}res/vendors/summernote/dist/summernote.js"></script>
    <script src="{$path}res/vendors/dropzone/dist/dropzone.js"></script>
    <script src="{$path}res/vendors/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>
    <script src="{$path}res/vendors/moment/min/moment-with-locales.js"></script>
    <script src="{$path}res/vendors/gmaps/gmaps.js"></script>
    <script src="{$path}res/vendors/jquery.bootgrid/dist/jquery.bootgrid.js"></script>
    <script src="{$path}res/vendors/jquery.bootgrid/dist/jquery.bootgrid.fa.js"></script>
    <script src="{$path}res/vendors/datatables/media/js/jquery.dataTables.js"></script>
    <script src="{$path}res/vendors/nestable/jquery.nestable.js"></script>
    <script src="{$path}res/vendors/sweetalert/dist/sweetalert-dev.js"></script>
    <script src="{$path}res/vendors/masonry/dist/masonry.pkgd.js"></script>
    <script src="{$path}res/vendors/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="{$path}res/vendors/loaders.css/loaders.css.js"></script>
    <script src="{$path}res/vendors/jquery-localize-i18n/dist/jquery.localize.js"></script>
    <script src="{$path}res/vendors/blueimp-gallery/js/blueimp-helper.js"></script>
    <script src="{$path}res/vendors/blueimp-gallery/js/blueimp-gallery.js"></script>
    <script src="{$path}res/vendors/blueimp-gallery/js/blueimp-gallery-fullscreen.js"></script>
    <script src="{$path}res/vendors/blueimp-gallery/js/blueimp-gallery-indicator.js"></script>
    <script src="{$path}res/vendors/blueimp-gallery/js/blueimp-gallery-video.js"></script>
    <script src="{$path}res/vendors/blueimp-gallery/js/blueimp-gallery-vimeo.js"></script>
    <script src="{$path}res/vendors/blueimp-gallery/js/blueimp-gallery-youtube.js"></script>
    <script src="{$path}res/vendors/blueimp-gallery/js/jquery.blueimp-gallery.js"></script>
    <script src="{$path}res/vendors/topojson/topojson.min.js"></script>
    <script src="{$path}res/vendors/datamaps/dist/datamaps.all.js"></script>
    <script src="{$path}res/scripts/app.js"></scrip
    <script>
        if(typeof window.initJQ === "object" && window.initJQ instanceof Array){
            $.each(window.initJQ, function(){
                if(typeof this === "function") this();
            });
        }
    </script>
  </body>
</html> 