    <!-- Page content-->
        <section>
          <div class="content-heading bg-white">
            <div class="row">
              <div class="col-sm-9">
                <h4 class="m0 text-thin">Bem dindo ao novo TRADE</h4><small>Abaixo seus último dados cadastrados</small>
              </div>
              
              <!--Adicionar novo módulo no dashboard-->
              <!--<div class="col-sm-3 text-right hidden-xs dropdown">
                <button type="button" data-toggle="dropdown" class="mt-sm btn btn-labeled btn-default ripple">Add Módulo<span class="btn-label btn-label-right"><i class="ion-plus-round"></i></span></button>
                  <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                            <li><a href="">Índices</a></li>
                            <li><a href="">Atividades recentes</a></li>
                            <li><a href="">Análise de processos</a></li>
                            <li><a href="">Pedidos</a></li>
                            <li><a href="">Últimos orçamentos</a></li>
                  </ul>
              </div>-->
              
            </div>
          </div>
          <div class="container-fluid">
            <!-- Índices -->
            <div class="row">
              <div class="col-xs-6 col-lg-4">
                <div class="card">
                  <div class="card-body pv">
                    <div class="clearfix">
                      <div class="pull-left">
                        <h4 class="m0 text-thin">12</h4><small class="m0 text-muted"><em class="mr-sm ion-arrow-up-b"></em>Orçamentos em aberto</small>
                      </div>
                      <div class="pull-right mt-lg">
                        <div id="sparkline2" data-line-color="#4caf50" class="sparkline"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-lg-4">
                <div class="card">
                  <div class="card-body pv">
                    <div class="clearfix">
                      <div class="pull-left">
                        <h4 class="m0 text-thin">37</h4><small class="m0 text-muted"><em class="mr-sm ion-arrow-down-b"></em>Pedidos realizados</small>
                      </div>
                      <div class="pull-right mt-lg">
                        <div id="sparkline1" data-line-color="#03A9F4" class="sparkline"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-lg-4 visible-lg">
                <div class="card">
                  <div class="card-body pv">
                    <div class="clearfix">
                      <div class="pull-left">
                        <h4 class="m0 text-thin">22</h4><small class="m0 text-muted"><em class="mr-sm ion-arrow-up-b"></em>Obras registradas</small>
                      </div>
                      <div class="pull-right mt-lg">
                        <div id="sparkline3" data-line-color="#ab47bc" class="sparkline"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-lg-3 col-xs-12">
                 <!-- Atividades recentes  -->
                <div class="card">
                  <div class="card-heading">
                    <!-- START dropdown-->
                    <div class="pull-right dropdown">
                      <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
                      <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                        <li><a href="">Todos</a></li>
                        <li><a href="">Orçamentos </a></li>
                        <li><a href="">Pedidos</a></li>
                        <li><a href="">Obras</a></li>
                      </ul>
                    </div>
                    <!-- END dropdown-->
                    <div class="card-title">Atividades recentes</div><small>Últimas interações no TRADE</small>
                  </div>
                  <div class="card-body bb">
                    <p class="pull-left mr"><span class="pull-right nav-caret"><em class="ion-chatbox-working text-info"></em></span></p>
                    <div class="oh">
                      <p><span class="spr">Alteração no <strong class="spr">orçamento</strong></span><a href="">1976756</a></p>
                      <p class="bl pl"><i>Produtos, telefone</i></p>
                      <div class="clearfix">
                        <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>há cerca de 2 horas</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body bb">
                    <p class="pull-left mr"><span class="pull-right nav-caret"><em class="ion-clipboard text-info"></em></span></p>
                    <div class="oh">
                      <p><span class="spr">Alteração no <strong class="spr">Pedido</strong></span><a href="">497056</a></p>
                      <p class="bl pl"><i>Endereço</i></p>
                      <div class="clearfix">
                        <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>Ontem</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body bb">
                    <p class="pull-left mr"><span class="pull-right nav-caret"><em class="ion-chatbox-working text-info"></em></span></p>
                    <div class="oh">
                      <p><span class="spr">Alteração no <strong class="spr">orçamento</strong></span><a href="">1876736</a></p>
                      <p class="bl pl"><i>Valor total</i></p>
                      <div class="clearfix">
                        <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>05 de abril</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body bb">
                    <p class="pull-left mr"><span class="pull-right nav-caret"><em class="ion-flag text-info"></em></span></p>
                    <div class="oh">
                      <p><span class="spr">Alteração na <strong class="spr">obra</strong></span><a href="">222765</a></p>
                      <p class="bl pl"><i>Endereço</i></p>
                      <div class="clearfix">
                        <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>03 de abril</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body bb">
                    <p class="pull-left mr"><span class="pull-right nav-caret"><em class="ion-chatbox-working text-info"></em></span></p>
                    <div class="oh">
                      <p><span class="spr">Alteração no <strong class="spr">orçamento</strong></span><a href="">1976756</a></p>
                      <p class="bl pl"><i>Produtos, telefone</i></p>
                      <div class="clearfix">
                        <div class="pull-left text-muted"><em class="ion-android-time mr-sm"></em><span>03 de dezembro de 2016</span></div>
                      </div>
                    </div>
                  </div><a href="" class="card-footer btn btn-flat btn-default"><small class="text-center text-muted lh1">See more activities</small></a>
                </div>
              </div>
              <div class="col-lg-9 col-md-12">
                <div class="row">
                  <!-- Análise de processos -->
                  <div class="col-lg-8">
                    <div class="card">
                      <div class="card-heading">
                        <!-- START dropdown-->
                        <div class="pull-right dropdown">
                          <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon ripple"><em class="ion-android-more-vertical"></em></button>
                          <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                            <li><a href="">Últimos 30 dias</a></li>
                            <li><a href="">Último ano</a></li>
                          </ul>
                        </div>
                        <!-- END dropdown-->
                        <div class="card-title">Análise de processos</div><small>Equivalência entre orçamentos, pedidos e obras.</small>
                      </div>
                      <div class="card-body">
                        <div id="flot-main-spline" class="flot-chart flot-chart-lg flot-legend-left"></div>
                      </div>
                    </div>
                  </div>
                  <!-- Pedidos -->
                  <div class="col-xs-12 col-lg-4">
                    <div class="card">
                      <div class="card-heading">
                        <div class="pull-right"><span class="mr"><em class="ion-record spr text-primary"></em><small class="va-middle">2016</small></span><span><em class="ion-record spr text-success"></em><small class="va-middle">2015</small></span></div>
                        <div class="card-title">Pedidos</div><small>Comparativo anual de pedidos.</small>
                      </div>
                      <div class="card-body">
                        <div id="flot-bar-chart" data-height="235" class="flot-chart flot-chart-md"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <!-- Últimos pedidos -->
                  <div class="col-xs-12 col-lg-12">
                    <div class="card">
                      <!-- START table-responsive-->
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th colspan = "2" class="text-center">Últimos orçamentos</th>
                              <th>Data</th>
                              <th>Valor</th>
                              <th class="text-right">Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="va-middle"><span class="badge bg-success">1</span></td>
                              <td>
                                <p class="m0">Renato Souza<br><small class="text-thin">Empresa X</small></p>
                              </td>
                              <td class="va-middle">23/03/2017</td>
                              <td class="va-middle">R$ 37.722,70</td>
                              <td class="text-right va-middle text-success">Revisar/editar</td>
                            </tr>
                            <tr>
                              <td class="va-middle"><span class="badge bg-danger">2</span></td>
                              <td>
                                <p class="m0">Renato Souza<br><small class="text-thin">Empresa Y</small></p>
                              </td>
                              <td class="va-middle">23/03/2017</td>
                              <td class="va-middle">R$ 67.722,70</td>
                              <td class="text-right va-middle text-danger">Recusado</td>
                            </tr>
                            <tr>
                              <td class="va-middle"><span class="badge bg-info">3</span></td>
                              <td>
                                <p class="m0">Renato Souza<br><small class="text-thin">Empresa Z</small></p>
                              </td>
                              <td class="va-middle">22/03/2017</td>
                              <td class="va-middle">R$ 17.722,70</td>
                              <td class="text-right va-middle text-info">Aprovado</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- END table-responsive-->
                    </div>
                  </div>
                </div>
              </div>             
            </div>
          </div>
        </section>