<section>
          <div class="container-fluid">
            <!-- DATATABLE DEMO 1-->
            <div class="card">
              <div class="card-heading">
            <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="card-title">{$head_title}</div>
              <div class="text-muted"></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4"> <a href="#">
              <button type="button" class="fw btn btn-default ripple text-info"><strong><em class="ion-plus-circled"></em> Adicionar {$singular}</strong></button>
              </a> </div>
            <br><br>
          </div>
              <div class="card-body">
                <table id="datatable1" class="table-datatable table table-striped table-hover mv-lg">
                  <thead>
                    <tr>
                      <th class="sort-{$item1-tp}">{$item1}</th>
                      <th class="sort-{$item2-tp}">{$item2}</th>
                      <th class="sort-{$item3-tp}">{$item3}</th>
                      <th class="sort-{$item4-tp}">{$item4}</th>
                      <th class="sort-{$item5-tp}">{$item5}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="gradeX">
                      <td>{$dado1a}</td>
                      <td>{$dado1b}</td>
                      <td>{$dado1c}</td>
                      <td>{$dado1d}</td>
                      <td>{$dado1e}</td>
                    </tr>
                    <tr class="gradeX">
                      <td>{$dado1a}</td>
                      <td>{$dado1b}</td>
                      <td>{$dado1c}</td>
                      <td>{$dado1d}</td>
                      <td>{$dado1e}</td>
                    </tr>
                    <tr class="gradeX">
                      <td>{$dado1a}</td>
                      <td>{$dado1b}</td>
                      <td>{$dado1c}</td>
                      <td>{$dado1d}</td>
                      <td>{$dado1e}</td>
                    </tr>
                    <tr class="gradeX">
                      <td>{$dado1a}</td>
                      <td>{$dado1b}</td>
                      <td>{$dado1c}</td>
                      <td>{$dado1d}</td>
                      <td>{$dado1e}</td>
                    </tr>
                    <tr class="gradeX">
                      <td>{$dado1a}</td>
                      <td>{$dado1b}</td>
                      <td>{$dado1c}</td>
                      <td>{$dado1d}</td>
                      <td>{$dado1e}</td>
                    </tr>
                    <tr class="gradeX">
                      <td>{$dado1a}</td>
                      <td>{$dado1b}</td>
                      <td>{$dado1c}</td>
                      <td>{$dado1d}</td>
                      <td>{$dado1e}</td>
                    </tr>
                    <tr class="gradeX">
                      <td>{$dado1a}</td>
                      <td>{$dado1b}</td>
                      <td>{$dado1c}</td>
                      <td>{$dado1d}</td>
                      <td>{$dado1e}</td>
                    </tr>
                    <tr class="gradeX">
                      <td>{$dado1a}</td>
                      <td>{$dado1b}</td>
                      <td>{$dado1c}</td>
                      <td>{$dado1d}</td>
                      <td>{$dado1e}</td>
                    </tr>
                    <tr class="gradeX">
                      <td>{$dado1a}</td>
                      <td>{$dado1b}</td>
                      <td>{$dado1c}</td>
                      <td>{$dado1d}</td>
                      <td>{$dado1e}</td>
                    </tr>
                    <tr class="gradeX">
                      <td>{$dado1a}</td>
                      <td>{$dado1b}</td>
                      <td>{$dado1c}</td>
                      <td>{$dado1d}</td>
                      <td>{$dado1e}</td>
                    </tr>
                    <tr class="gradeX">
                      <td>{$dado1a}</td>
                      <td>{$dado1b}</td>
                      <td>{$dado1c}</td>
                      <td>{$dado1d}</td>
                      <td>{$dado1e}</td>
                    </tr>
                    <tr class="gradeX">
                      <td>{$dado1a}</td>
                      <td>{$dado1b}</td>
                      <td>{$dado1c}</td>
                      <td>{$dado1d}</td>
                      <td>{$dado1e}</td>
                    </tr>
                    <tr class="gradeX">
                      <td>{$dado1a}</td>
                      <td>{$dado1b}</td>
                      <td>{$dado1c}</td>
                      <td>{$dado1d}</td>
                      <td>{$dado1e}</td>
                    </tr>
                    <tr class="gradeX">
                      <td>{$dado1a}</td>
                      <td>{$dado1b}</td>
                      <td>{$dado1c}</td>
                      <td>{$dado1d}</td>
                      <td>{$dado1e}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>