<section>
  <ul id="myTabs" role="tablist" class="nav nav-tabs nav-justified">
    <li role="presentation" class="active"><a id="basicas-tab" href="#basicas" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Informações básicas</a></li>
    <li role="presentation"><a id="adicionais-tab" href="#adicionais" role="tab" data-toggle="tab" aria-controls="adicionais">Informações adicionais</a></li>
    <li role="presentation" class="dropdown"><a id="pedido-tab" href="#pedido" role="tab" data-toggle="tab" aria-controls="messages">Pedido</a></li>
  </ul>
  <div id="myTabContent" class="tab-content"> 
    
    <!--INFORMAÇÕES BÁSICAS-->
    <div id="basicas" role="tabpanel" aria-labelledby="basicas-tab" class="tab-pane fade in active">
      <div class="container-fluid">
        <div class="card">
          <div class="card-heading col-lg-8 col-md-8 col-sm-12">
            <div class="card-title">Dados do pedido</div>
            <div class="text-muted">Preencha os campos abaixo</div>
          </div>
          <div class="card-heading col-lg-2 col-md-2 hidden-sm hidden-xs">
            <p class="m0 ">Origem:</p>
            <input type="text" placeholder="Guilherme Moreira" disabled="" class="form-control">
          </div>
          <div class="card-heading col-lg-2 col-md-2 hidden-sm hidden-xs">
            <p class="m0 ">Orçamento:</p>
            <input type="text" placeholder="Nenhum" disabled="" class="form-control">
            <br>
            <br>
          </div>
          <div class="card-body">
            <div class="form-horizontal"> 
              <!--Número-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Número do pedido</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <input type="text" placeholder="345689" disabled="" class="form-control">
                </div>
              </div>
              <!--Cliente-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Cliente</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <select id="select2-1" class="form-control">
                    <option value=""></option>
                    <option value="AK">Arthur</option>
                    <option value="HI">Bruno</option>
                    <option value="CA">Cristiane</option>
                    <option value="NV">Davi</option>
                    <option value="OR">Ernesto</option>
                    <option value="WA">Fabrício</option>
                    <option value="AZ">Gabriel</option>
                    <option value="CO">Hugo</option>
                    <option value="ID">Ítalo</option>
                    <option value="MT">Juliana</option>
                    <option value="NE">Kátia</option>
                    <option value="NM">Luciana</option>
                    <option value="ND">Maurício</option>
                    <option value="UT">Natanael</option>
                    <option value="WY">Otávio</option>
                  </select>
                </div>
              </div>
              <!--Promotor-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Expecificador</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <select id="select2-2" class="form-control">
                    <option value=""></option>
                    <option value="AK">Arthur</option>
                    <option value="HI">Bruno</option>
                    <option value="CA">Cristiane</option>
                    <option value="NV">Davi</option>
                    <option value="OR">Ernesto</option>
                    <option value="WA">Fabrício</option>
                    <option value="AZ">Gabriel</option>
                    <option value="CO">Hugo</option>
                    <option value="ID">Ítalo</option>
                    <option value="MT">Juliana</option>
                    <option value="NE">Kátia</option>
                    <option value="NM">Luciana</option>
                    <option value="ND">Maurício</option>
                    <option value="UT">Natanael</option>
                    <option value="WY">Otávio</option>
                  </select>
                </div>
              </div>
              <!--Arquiteto-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Arquiteto</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <select id="select2-3" class="form-control">
                    <option value=""></option>
                    <option value="AK">Arthur</option>
                    <option value="HI">Bruno</option>
                    <option value="CA">Cristiane</option>
                    <option value="NV">Davi</option>
                    <option value="OR">Ernesto</option>
                    <option value="WA">Fabrício</option>
                    <option value="AZ">Gabriel</option>
                    <option value="CO">Hugo</option>
                    <option value="ID">Ítalo</option>
                    <option value="MT">Juliana</option>
                    <option value="NE">Kátia</option>
                    <option value="NM">Luciana</option>
                    <option value="ND">Maurício</option>
                    <option value="UT">Natanael</option>
                    <option value="WY">Otávio</option>
                  </select>
                </div>
              </div>
              <!--30%-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">30% - Local Espec.</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <select id="select2-4" class="form-control">
                    <option value=""></option>
                    <option value="AK">Arthur</option>
                    <option value="HI">Bruno</option>
                    <option value="CA">Cristiane</option>
                    <option value="NV">Davi</option>
                    <option value="OR">Ernesto</option>
                    <option value="WA">Fabrício</option>
                    <option value="AZ">Gabriel</option>
                    <option value="CO">Hugo</option>
                    <option value="ID">Ítalo</option>
                    <option value="MT">Juliana</option>
                    <option value="NE">Kátia</option>
                    <option value="NM">Luciana</option>
                    <option value="ND">Maurício</option>
                    <option value="UT">Natanael</option>
                    <option value="WY">Otávio</option>
                  </select>
                </div>
              </div>
              <!--20%-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">20% - Local Obra</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <select id="select2-5" class="form-control">
                    <option value=""></option>
                    <option value="AK">Arthur</option>
                    <option value="HI">Bruno</option>
                    <option value="CA">Cristiane</option>
                    <option value="NV">Davi</option>
                    <option value="OR">Ernesto</option>
                    <option value="WA">Fabrício</option>
                    <option value="AZ">Gabriel</option>
                    <option value="CO">Hugo</option>
                    <option value="ID">Ítalo</option>
                    <option value="MT">Juliana</option>
                    <option value="NE">Kátia</option>
                    <option value="NM">Luciana</option>
                    <option value="ND">Maurício</option>
                    <option value="UT">Natanael</option>
                    <option value="WY">Otávio</option>
                  </select>
                </div>
              </div>
              <!--Canal de distribuição-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Canal de Distribuição</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <select id="select2-6" class="form-control">
                    <option value=""></option>
                    <option value="WY">Engenharia</option>
                  </select>
                </div>
              </div>
              <!--Marca vendida-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Marca Vendida</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <input id="input-id-1" type="text" class="form-control">
                </div>
              </div>
              <!--Avançar-->
              <div id="myTabs2" role="tablist" class="nav nav-tabs nav-justified text-right"> 
                    <a id="next-tab" href="#adicionais" role="tab" data-toggle="tab" aria-controls="adicionais">
                    <button type="submit" class="fw btn btn-lg btn-primary">Avançar <em class="ion-arrow-right-c ion-fw"></em></button>
                    </a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!--INFORMAÇÕES ADICIONAIS-->
    <div id="adicionais" role="tabpanel" aria-labelledby="adicionais-tab" class="tab-pane fade">
      <div class="container-fluid"> 
        <!--Faturamento-->
        <div class="card">
          <div class="card-heading">
            <div class="card-title">Dados de Faturamento</div>
          </div>
          <div class="card-body">
            <div class="form-horizontal form-validate" name="form.formValidate"> 
              <!--Cep-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0  ">Cep</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <input type="text" name="digits" class="form-control">
                </div>
              </div>
              <!--Endereço-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Endereço</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <input type="text" placeholder="Aguardando CEP" disabled="" class="form-control">
                </div>
              </div>
              <!--Número-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Número</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <input type="text" name="digits" class="form-control">
                </div>
              </div>
              <!--Bairro-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Bairro</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <input type="text" placeholder="Aguardando CEP" disabled="" class="form-control">
                </div>
              </div>
              <!--Cidade-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Cidade</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <input type="text" placeholder="Aguardando CEP" disabled="" class="form-control">
                </div>
              </div>
              <!--Estado-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Estado</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <input type="text" placeholder="Aguardando CEP" disabled="" class="form-control">
                </div>
              </div>
              <hr>
              <!--ST-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Substituição Tributária</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <label class="radio-inline c-radio">
                    <input id="inlineradio1" type="radio" name="i-radio" value="option1" >
                    <span class="ion-record"></span> Sim </label>
                  <label class="radio-inline c-radio">
                    <input id="inlineradio2" type="radio" name="i-radio" value="option2" >
                    <span class="ion-record"></span> Não </label>
                  <label class="radio-inline c-radio"> <strong>R$0,00</strong></label>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!--Cobrança-->
        <div class="card">
          <div class="card-heading">
            <div class="card-title">Dados de Cobrança <span class="pull-right">
              <button type="button" class="btn btn-default">Faturamento</button>
              </span> </div>
          </div>
          <div class="card-body">
            <div class="form-horizontal form-validate" name="form.formValidate"> 
              <!--Cep-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Cep</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <input type="text" name="digits" class="form-control">
                </div>
              </div>
              <!--Endereço-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Endereço</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <input type="text" placeholder="Aguardando CEP" disabled="" class="form-control">
                </div>
              </div>
              <!--Número-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Número</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <input type="text" name="digits" class="form-control">
                </div>
              </div>
              <!--Bairro-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Bairro</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <input type="text" placeholder="Aguardando CEP" disabled="" class="form-control">
                </div>
              </div>
              <!--Cidade-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Cidade</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <input type="text" placeholder="Aguardando CEP" disabled="" class="form-control">
                </div>
              </div>
              <!--Estado-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Estado</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <input type="text" placeholder="Aguardando CEP" disabled="" class="form-control">
                </div>
              </div>
              <hr>
              <!--Frete-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Frete</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <select id="select2-7" class="form-control">
                    <option value=""></option>
                    <option value="CIF">CIF</option>
                  </select>
                </div>
              </div>
              <!--Condição de pgto-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Condição Pagto</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <select id="select2-8" class="form-control">
                    <option value=""></option>
                    <option value="ddl">21DDL</option>
                  </select>
                </div>
              </div>
              <!--Valor do Frete-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Valor do frete</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <input type="text" name="digits" class="form-control">
                </div>
              </div>
              <!--ICMS-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Contribuinte ICMS</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <label class="radio-inline c-radio">
                    <input id="inlineradio1" type="radio" name="i-radio" value="option1" >
                    <span class="ion-record"></span> Sim </label>
                  <label class="radio-inline c-radio">
                    <input id="inlineradio2" type="radio" name="i-radio" value="option2" >
                    <span class="ion-record"></span> Não </label>
                </div>
              </div>
              <!--Data de entrega-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Data de entrega</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <div id="example-datepicker-container-4" class="rel-wrapper ui-datepicker ui-datepicker-popup dp-theme-primary">
                    <input id="example-datepicker-4" type="text" data-date="12/13/2016" placeholder="Selecione a data..." class="form-control">
                  </div>
                </div>
              </div>
              <!--Transporte-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Transporte</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <select id="select2-9" class="form-control">
                    <option value=""></option>
                    <option value="rodoviario">Rodoviário</option>
                  </select>
                  <div class="checkbox c-checkbox c-checkbox-rounded">
                    <label>
                      <input id="roundedcheckbox10" type="checkbox">
                      <span class="ion-checkmark-round"></span> Suframa </label>
                  </div>
                  <div class="checkbox c-checkbox c-checkbox-rounded">
                    <label>
                      <input id="roundedcheckbox20" type="checkbox">
                      <span class="ion-checkmark-round"></span> Paletizado </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!--Entrega-->
        <div class="card">
          <div class="card-heading">
            <div class="card-title">Dados de Entrega <span class="pull-right">
              <button type="button" class="btn btn-default">Faturamento</button>
              <button type="button" class="btn btn-default">Cobrança</button>
              </span> </div>
          </div>
          <div class="card-body">
            <div class="form-horizontal form-validate" name="form.formValidate"> 
              <!--Cep-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0  ">Cep</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <input type="text" name="digits" class="form-control">
                </div>
              </div>
              <!--Endereço-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Endereço</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <input type="text" placeholder="Aguardando CEP" disabled="" class="form-control">
                </div>
              </div>
              <!--Número-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Número</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <input type="text" name="digits" class="form-control">
                </div>
              </div>
              <!--Bairro-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Bairro</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <input type="text" placeholder="Aguardando CEP" disabled="" class="form-control">
                </div>
              </div>
              <!--Cidade-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Cidade</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <input type="text" placeholder="Aguardando CEP" disabled="" class="form-control">
                </div>
              </div>
              <!--Estado-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Estado</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <input type="text" placeholder="Aguardando CEP" disabled="" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!--Transportadora-->
        <div class="card">
          <div class="card-heading">
            <div class="card-title">Transportadora</div>
          </div>
          <div class="card-body">
            <div class="form-horizontal form-validate" name="form.formValidate"> 
              <!--Tipo-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Transporte</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <label class="radio-inline c-radio">
                    <input id="inlineradio3" type="radio" name="i-radio" value="option1" checked>
                    <span class="ion-record"></span> Gail </label>
                  <label class="radio-inline c-radio">
                    <input id="inlineradio4" type="radio" name="i-radio" value="option2" >
                    <span class="ion-record"></span> Cliente </label>
                </div>
              </div>
              <!--Empresa-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Empresa</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <select id="select2-10" class="form-control ">
                    <option value=""></option>
                    <option value="1">Empresa 1</option>
                    <option value="2">Empresa 2</option>
                    <option value="3">Empresa 3</option>
                    <option value="4">Empresa 4</option>
                    <option value="5">Empresa 5</option>
                    <option value="6">Empresa 6</option>
                  </select>
                </div>
              </div>
              <div id="accordion1" class="panel-group">
                <div class="panel panel-default b0"> <a data-toggle="collapse" data-parent="#accordion1" href="#acc1collapse1">
                  <div class="panel-heading">
                    <h4 class="panel-title text-center">Dados da transportadora <em class="ion-arrow-down-c icon-lg"></em></h4>
                  </div>
                  </a>
                  <div id="acc1collapse1" class="panel-collapse collapse bg-grey-100">
                    <div class="panel-body"> 
                      <!--Nome-->
                      <div class="form-group">
                        <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                          <p class="m0 ">Nome</p>
                        </div>
                        <div class="col-md-6 col-sm-8">
                          <input type="text" placeholder="" disabled="" class="form-control">
                        </div>
                      </div>
                      <!--CNPJ-->
                      <div class="form-group">
                        <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                          <p class="m0">CNPJ</p>
                        </div>
                        <div class="col-md-6 col-sm-8">
                          <input type="number" name="digits" disabled="" class="form-control">
                        </div>
                      </div>
                      <!--Inscrição Estadual-->
                      <div class="form-group">
                        <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                          <p class="m0">Inscrição Estadual</p>
                        </div>
                        <div class="col-md-6 col-sm-8">
                          <input type="number" name="digits" disabled="" class="form-control">
                        </div>
                      </div>
                      <!--Tipo-->
                      <div class="form-group">
                        <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                          <p class="m0 ">Tipo</p>
                        </div>
                        <div class="col-md-6 col-sm-8">
                          <input type="text" placeholder="" disabled="" class="form-control">
                        </div>
                      </div>
                      <!--Fone-->
                      <div class="form-group">
                        <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                          <p class="m0 ">Fone</p>
                        </div>
                        <div class="col-md-6 col-sm-8">
                          <input type="number" name="digits" placeholder="" disabled="" class="form-control">
                        </div>
                      </div>
                      <!--Email-->
                      <div class="form-group">
                        <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                          <p class="m0 ">Email</p>
                        </div>
                        <div class="col-md-6 col-sm-8">
                          <input type="text" name="digits" placeholder="" disabled="" class="form-control">
                        </div>
                      </div>
                      <!--CEP-->
                      <div class="form-group">
                        <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                          <p class="m0 ">CEP</p>
                        </div>
                        <div class="col-md-6 col-sm-8">
                          <input type="number" name="digits" placeholder="" disabled="" class="form-control">
                        </div>
                      </div>
                      <!--Endereço-->
                      <div class="form-group">
                        <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                          <p class="m0 ">Endereço</p>
                        </div>
                        <div class="col-md-6 col-sm-8">
                          <input type="text" placeholder="" disabled="" class="form-control">
                        </div>
                      </div>
                      <!--Cidade-->
                      <div class="form-group">
                        <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                          <p class="m0 ">Cidade</p>
                        </div>
                        <div class="col-md-6 col-sm-8">
                          <input type="text" placeholder="" disabled="" class="form-control">
                        </div>
                      </div>
                      <!--Estado-->
                      <div class="form-group">
                        <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                          <p class="m0 ">Estado</p>
                        </div>
                        <div class="col-md-6 col-sm-8">
                          <input type="text" placeholder="" disabled="" class="form-control">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Avançar-->
                  <div id="myTabs3" role="tablist" class="nav nav-tabs nav-justified"> <br>
                    <br>
                    <a id="next-tab2" href="#pedido" role="tab" data-toggle="tab" aria-controls="pedido">
                    <button type="submit" class="fw btn btn-lg btn-primary">Avançar <em class="ion-arrow-right-c ion-fw"></em></button>
                    </a> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!--PRODUTOS-->
    <div id="pedido" role="tabpanel" aria-labelledby="pedido-tab" class="tab-pane fade">
      <div class="container-fluid">
        <div class="card">
          <div class="card-heading">
            <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="card-title">Produtos</div>
              <div class="text-muted">Insira os produtos que deseja</div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4"> <a href="#">
              <button type="button" data-toggle="modal" data-target=".bs-example-modal-lg" class="fw btn btn-default ripple"><strong>Adicionar produto</strong></button>
              </a> </div>
            <br><br>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover text-center text-sm">
                <thead>
                  <tr class="bg-info">
                    <th>Código</th>
                    <th>Produto</th>
                    <th>Aplicação</th>
                    <th>Líquido<small>(R$)</small></th>
                    <th>Quantidade</th>
                    <th>Desconto</th>
                    <th>Total<small>(R$)</small></th>
                    <th>Peso<small>(Kg)</small></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>10091055009</td>
                    <td>Natural Cinza Oliva</td>
                    <td><select class="form-control">
                        <option value="fachada">Fachada Aderida</option>
                        <option value="fachada">Opção 2</option>
                      </select></td>
                    <td><input type="text" class="form-control" value="1,994"></td>
                    <td><input type="text" class="form-control" value="66"></td>
                    <td>0,00%</td>
                    <td>131,60</td>
                    <td>34,98</td>
                    <td><a href="#">
                      <button type="button" data-container="body" data-toggle="popover" data-placement="left" data-content=
                          	"Natural Cinza Oliva Flash 24 x 11.6 A"
                          	 class="fw mb-sm btn btn-oval btn-xs btn-info">info</button>
                      </a> <a href="#">
                      <button type="button" class="fw btn btn-oval btn-xs btn-danger ripple">excluir</button>
                      </a></td>
                  </tr>
                  <tr>
                    <td>35352435068</td>
                    <td>Placa Cerâmica</td>
                    <td><select class="form-control">
                        <option value="fachada">Fachada Aderida</option>
                        <option value="fachada">Opção 2</option>
                      </select></td>
                    <td><input type="text" class="form-control" value="1,994"></td>
                    <td><input type="text" class="form-control" value="66"></td>
                    <td>0,00%</td>
                    <td>131,60</td>
                    <td>34,98</td>
                    <td><a href="#">
                      <button type="button" data-container="body" data-toggle="popover" data-placement="left" data-content=
                          	"Placa cerâmica para piso cinza 35 X 35 A"
                          	 class="fw mb-sm btn btn-oval btn-xs btn-info">info</button>
                      </a> <a href="#">
                      <button type="button" class="fw btn btn-oval btn-xs btn-danger ripple">excluir</button>
                      </a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <hr>
            <div class="container-fluid">
            	<div class="col-md-4">
					<div class="table-responsive">
					  <table class="table table-hover text-center text-sm">
						<tbody>
						  <tr>
							<td>Total de itens</td>
							<td>114</td>
						  </tr>
						  <tr>
							<td>Número de produtos</td>
							<td>3</td>
						  </tr>
						  <tr>
							<td>Peso Total (kg)</td>
							<td>86,82</td>
						  </tr>
						  <tr>
							<td>Total de embalagens</td>
							<td>4</td>
						  </tr>
						</tbody>
					  </table>
					</div>
            	</div>
            	<div class="col-md-7 col-md-offset-1">
					<div class="table-responsive">
					  <table class="table table-hover text-center text-sm">
						<tbody>
						  <tr>
							<td>(=) Valor dos Produtos</td>
							<td>191,17</td>
						  </tr>
						  <tr>
							<td>(+/-) Acrésc./Desconto</td>
							<td>0,00</td>
						  </tr>
						  <tr>
							<td>(=) Subtotal</td>
							<td>191,17</td>
						  </tr>
						  <tr>
							<td>(+) IPI</td>
							<td>0,00</td>
						  </tr>
						  <tr>
							<td>(+) Frete</td>
							<td>5,00</td>
						  </tr>
						  <tr>
							<td>(+) ICMS-ST</td>
							<td>43,57</td>
						  </tr>
						  <tr>
							<td>(+) Juros</td>
							<td>0,00</td>
						  </tr>
						  <tr class="text-md">
							<td>(+) Total</td>
							<td>239,74</td>
						  </tr>
						  <tr><td colspan="2" class="text-right text-muted">Valores em reais (R$)</td></tr>
						</tbody>
					  </table>
					</div>
            	</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-heading">
            <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="card-title">Considerações finais</div>
            </div>
            <br><br>
          </div>
          <div class="card-body">
            <div class="form-horizontal"> 
              <!--Observações da NF-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Observações da nota</p>
                </div>
                <div class="col-md-6 col-sm-8">
					<textarea class="form-control no-resize"></textarea>
                </div>
              </div>
			</div><hr>
         	<div class="form-horizontal"> 
              <!--Observações adicionais-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Observações adicionais do pedido</p>
                </div>
                <div class="col-md-6 col-sm-8">
					<textarea class="form-control no-resize"></textarea>
                </div>
              </div>
			</div>
         
         	<div class="form-horizontal"> 
              <!--CONCLUIR-->
              <a href="" id="swal-demo3"><button type="submit" class="fw btn btn-lg btn-primary">Concluir<em class="ion-ios-checkmark-outline ion-fw"></em></button></a>
              
			</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Modal content for the above example-->
    <div tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" class="modal fade bs-example-modal-lg">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
            <h4 id="myLargeModalLabel" class="modal-title">Produtos</h4>
          </div>
          <div class="modal-body">
            <iframe src="produtos" class="fw" height="500px"></iframe>
          </div>
        </div>
        <!-- /.modal-content-->
      </div>
      <!-- /.modal-dialog-->
    </div>