<section>
  <ul id="myTabs" role="tablist" class="nav nav-tabs nav-justified">
    <li role="presentation" class="active"><a id="basicas-tab" href="#basicas" role="tab" data-toggle="tab" aria-controls="basicas" aria-expanded="true">Informações básicas</a></li>
    <li role="presentation" class="dropdown"><a id="pedido-tab" href="#pedido" role="tab" data-toggle="tab" aria-controls="pedido">Produto</a></li>
  </ul>
  <div id="myTabContent" class="tab-content"> 
    
    <!--INFORMAÇÕES BÁSICAS-->
    <div id="basicas" role="tabpanel" aria-labelledby="basicas-tab" class="tab-pane fade in active">
      <div class="container-fluid">
        <div class="card">
          <div class="card-heading col-lg-8 col-md-8 col-sm-12">
            <div class="card-title">Dados do orçamento</div>
            <div class="text-muted">Preencha os campos abaixo</div>
          </div>
          <div class="card-heading col-lg-4 col-md-4 hidden-sm hidden-xs">
            <p class="m0 ">Origem:</p>
            <input type="text" placeholder="Guilherme Moreira" disabled="" class="form-control"><br><br>
          </div>
          <div class="card-body">
            <div class="form-horizontal"> 
              <!--Número-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Número do orçamento</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <input type="text" placeholder="345689" disabled="" class="form-control">
                </div>
              </div>
              <!--Promotor-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Expecificador</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <select id="select2-2" class="form-control">
                    <option value=""></option>
                    <option value="AK">Arthur</option>
                    <option value="HI">Bruno</option>
                    <option value="CA">Cristiane</option>
                    <option value="NV">Davi</option>
                    <option value="OR">Ernesto</option>
                    <option value="WA">Fabrício</option>
                    <option value="AZ">Gabriel</option>
                    <option value="CO">Hugo</option>
                    <option value="ID">Ítalo</option>
                    <option value="MT">Juliana</option>
                    <option value="NE">Kátia</option>
                    <option value="NM">Luciana</option>
                    <option value="ND">Maurício</option>
                    <option value="UT">Natanael</option>
                    <option value="WY">Otávio</option>
                  </select>
                </div>
              </div>
              <!--Arquiteto-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Arquiteto</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <select id="select2-3" class="form-control">
                    <option value=""></option>
                    <option value="AK">Arthur</option>
                    <option value="HI">Bruno</option>
                    <option value="CA">Cristiane</option>
                    <option value="NV">Davi</option>
                    <option value="OR">Ernesto</option>
                    <option value="WA">Fabrício</option>
                    <option value="AZ">Gabriel</option>
                    <option value="CO">Hugo</option>
                    <option value="ID">Ítalo</option>
                    <option value="MT">Juliana</option>
                    <option value="NE">Kátia</option>
                    <option value="NM">Luciana</option>
                    <option value="ND">Maurício</option>
                    <option value="UT">Natanael</option>
                    <option value="WY">Otávio</option>
                  </select>
                </div>
              </div>
              <!--Cliente-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Cliente</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <select id="select2-1" class="form-control">
                    <option value=""></option>
                    <option value="AK">Arthur</option>
                    <option value="HI">Bruno</option>
                    <option value="CA">Cristiane</option>
                    <option value="NV">Davi</option>
                    <option value="OR">Ernesto</option>
                    <option value="WA">Fabrício</option>
                    <option value="AZ">Gabriel</option>
                    <option value="CO">Hugo</option>
                    <option value="ID">Ítalo</option>
                    <option value="MT">Juliana</option>
                    <option value="NE">Kátia</option>
                    <option value="NM">Luciana</option>
                    <option value="ND">Maurício</option>
                    <option value="UT">Natanael</option>
                    <option value="WY">Otávio</option>
                  </select>
                </div>
              </div>
              <!--Nome da obra-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Nome da obra</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <input type="text" placeholder="" class="form-control">
                </div>
              </div>
              <!--Cep-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0  ">Cep</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <input type="text" name="digits" class="form-control">
                </div>
              </div>
              <!--Endereço-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Endereço</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <input type="text" placeholder="Aguardando CEP" disabled="" class="form-control">
                </div>
              </div>
              <!--Número-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Número</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <input type="text" name="digits" class="form-control">
                </div>
              </div>
              <!--Bairro-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Bairro</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <input type="text" placeholder="Aguardando CEP" disabled="" class="form-control">
                </div>
              </div>
              <!--Cidade-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Cidade</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <input type="text" placeholder="Aguardando CEP" disabled="" class="form-control">
                </div>
              </div>
              <!--Estado-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Estado</p>
                </div>
                <div class="col-md-6 col-sm-8">
                  <input type="text" placeholder="Aguardando CEP" disabled="" class="form-control"><br><br><br>
                </div>
              </div>
              <!--Avançar-->
              <div id="myTabs2" role="tablist" class="nav nav-tabs nav-justified text-right"> 
                    <a id="next-tab" href="#adicionais" role="tab" data-toggle="tab" aria-controls="adicionais">
                    <button type="submit" class="fw btn btn-lg btn-primary">Avançar <em class="ion-arrow-right-c ion-fw"></em></button>
                    </a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!--PRODUTOS-->
    <div id="pedido" role="tabpanel" aria-labelledby="pedido-tab" class="tab-pane fade">
      <div class="container-fluid">
        <div class="card">
          <div class="card-heading">
            <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="card-title">Produtos</div>
              <div class="text-muted">Insira os produtos que deseja</div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4"> <a href="#">
              <button type="button" class="fw btn btn-default ripple"><strong>Adicionar produto</strong></button>
              </a> </div>
            <br><br>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover text-center text-sm">
                <thead>
                  <tr class="bg-info">
                    <th>Código</th>
                    <th>Produto</th>
                    <th>Aplicação</th>
                    <th>Líquido<small>(R$)</small></th>
                    <th>Quantidade</th>
                    <th>Desconto</th>
                    <th>Total<small>(R$)</small></th>
                    <th>Peso<small>(Kg)</small></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>10091055009</td>
                    <td>Natural Cinza Oliva</td>
                    <td><select class="form-control">
                        <option value="fachada">Fachada Aderida</option>
                        <option value="fachada">Opção 2</option>
                      </select></td>
                    <td><input type="text" class="form-control" value="1,994"></td>
                    <td><input type="text" class="form-control" value="66"></td>
                    <td>0,00%</td>
                    <td>131,60</td>
                    <td>34,98</td>
                    <td><a href="#">
                      <button type="button" data-container="body" data-toggle="popover" data-placement="left" data-content=
                          	"Natural Cinza Oliva Flash 24 x 11.6 A"
                          	 class="fw mb-sm btn btn-oval btn-xs btn-info">info</button>
                      </a> <a href="#">
                      <button type="button" class="fw btn btn-oval btn-xs btn-danger ripple">excluir</button>
                      </a></td>
                  </tr>
                  <tr>
                    <td>35352435068</td>
                    <td>Placa Cerâmica</td>
                    <td><select class="form-control">
                        <option value="fachada">Fachada Aderida</option>
                        <option value="fachada">Opção 2</option>
                      </select></td>
                    <td><input type="text" class="form-control" value="1,994"></td>
                    <td><input type="text" class="form-control" value="66"></td>
                    <td>0,00%</td>
                    <td>131,60</td>
                    <td>34,98</td>
                    <td><a href="#">
                      <button type="button" data-container="body" data-toggle="popover" data-placement="left" data-content=
                          	"Placa cerâmica para piso cinza 35 X 35 A"
                          	 class="fw mb-sm btn btn-oval btn-xs btn-info">info</button>
                      </a> <a href="#">
                      <button type="button" class="fw btn btn-oval btn-xs btn-danger ripple">excluir</button>
                      </a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <hr>
            <div class="container-fluid">
            	<div class="col-md-4">
					<div class="table-responsive">
					  <table class="table table-hover text-center text-sm">
						<tbody>
						  <tr>
							<td>Total de itens</td>
							<td>114</td>
						  </tr>
						  <tr>
							<td>Número de produtos</td>
							<td>3</td>
						  </tr>
						  <tr>
							<td>Peso Total (kg)</td>
							<td>86,82</td>
						  </tr>
						  <tr>
							<td>Total de embalagens</td>
							<td>4</td>
						  </tr>
						</tbody>
					  </table>
					</div>
            	</div>
            	<div class="col-md-7 col-md-offset-1">
					<div class="table-responsive">
					  <table class="table table-hover text-center text-sm">
						<tbody>
						  <tr>
							<td>(=) Valor dos Produtos</td>
							<td>191,17</td>
						  </tr>
						  <tr>
							<td>(+/-) Acrésc./Desconto</td>
							<td>0,00</td>
						  </tr>
						  <tr>
							<td>(=) Subtotal</td>
							<td>191,17</td>
						  </tr>
						  <tr>
							<td>(+) IPI</td>
							<td>0,00</td>
						  </tr>
						  <tr>
							<td>(+) Frete</td>
							<td>5,00</td>
						  </tr>
						  <tr>
							<td>(+) ICMS-ST</td>
							<td>43,57</td>
						  </tr>
						  <tr>
							<td>(+) Juros</td>
							<td>0,00</td>
						  </tr>
						  <tr class="text-md">
							<td>(+) Total</td>
							<td>239,74</td>
						  </tr>
						  <tr><td colspan="2" class="text-right text-muted">Valores em reais (R$)</td></tr>
						</tbody>
					  </table>
					</div>
            	</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-heading">
            <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="card-title">Considerações finais</div>
            </div>
            <br><br>
          </div>
          <div class="card-body">
         	<div class="form-horizontal"> 
              <!--Observações adicionais-->
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2 col-md-offset-2 col-md-offset2 col-sm-4">
                  <p class="m0 ">Observações adicionais</p>
                </div>
                <div class="col-md-6 col-sm-8">
					<textarea class="form-control no-resize"></textarea><br><br><br>
                </div>
              </div>
			</div>
         
         	<div class="form-horizontal"> 
              <!--CONCLUIR-->
              <a href=""><button type="submit" class="fw btn btn-lg btn-primary">Concluir <em class="ion-ios-checkmark-outline ion-fw"></em></button></a>
			</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>