<section>
  <div class="container-overlap bg-indigo-500">
    <div class="container container-md pr-xl">
      <form action="">
        <div class="mda-form-group mda-form-group-lg float-label">
          <div class="mda-form-control mda-form-control-dark">
            <input type="text" class="no-resize form-control">
            <div class="mda-form-control-line"></div>
            <label>Procurar</label>
          </div>
          <span class="mda-form-msg right"><span>1500</span> produtos cadastrados</span> </div>
      </form>
    </div>
  </div>
  <div class="container container-md">
    <div class="card">
      <div class="card-body ">
        <p class="lead">0 Resultados para &quot;Item 1&quot;</p>
        <div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
			  <div class="card">
				<div class="card-item"><img src="{$path}/res/img/pic1.jpg" alt="MaterialImg" class="fw img-responsive"> </div>
				<div class="card-body">
				  <h4 class="mt0">{$titulo}</h4>
				  <p>Código: <strong>{$cod}</strong></p>
				  <p>Peso <small>(kg)</small>: <strong>{$peso}</strong></p>
				  <p>Coleção: <strong>{$colecao}</strong></p>
				  <p>ST: <strong>{$st}</strong></p>
				  <hr>
				  <div class="clearfix">
					<div class="pull-left"><span class="mr-sm text-muted">Criar</span> <a href="novoorcamento">Orçamento</a> | <a href="novopedido">Pedido</a></div>
				  </div>
				</div>
			  </div>
			</div>
       <div class="col-md-3 col-sm-6 col-xs-12">
			  <div class="card">
				<div class="card-item"><img src="{$path}/res/img/pic1.jpg" alt="MaterialImg" class="fw img-responsive"> </div>
				<div class="card-body">
				  <h4 class="mt0">{$titulo}</h4>
				  <p>Código: <strong>{$cod}</strong></p>
				  <p>Peso <small>(kg)</small>: <strong>{$peso}</strong></p>
				  <p>Coleção: <strong>{$colecao}</strong></p>
				  <p>ST: <strong>{$st}</strong></p>
				  <hr>
				  <div class="clearfix">
					<div class="pull-left"><span class="mr-sm text-muted">Criar</span> <a href="novoorcamento">Orçamento</a> | <a href="novopedido">Pedido</a></div>
				  </div>
				</div>
			  </div>
			</div>
       <div class="col-md-3 col-sm-6 col-xs-12">
			  <div class="card">
				<div class="card-item"><img src="{$path}/res/img/pic1.jpg" alt="MaterialImg" class="fw img-responsive"> </div>
				<div class="card-body">
				  <h4 class="mt0">{$titulo}</h4>
				  <p>Código: <strong>{$cod}</strong></p>
				  <p>Peso <small>(kg)</small>: <strong>{$peso}</strong></p>
				  <p>Coleção: <strong>{$colecao}</strong></p>
				  <p>ST: <strong>{$st}</strong></p>
				  <hr>
				  <div class="clearfix">
					<div class="pull-left"><span class="mr-sm text-muted">Criar</span> <a href="novoorcamento">Orçamento</a> | <a href="novopedido">Pedido</a></div>
				  </div>
				</div>
			  </div>
			</div>
       <div class="col-md-3 col-sm-6 col-xs-12">
			  <div class="card">
				<div class="card-item"><img src="{$path}/res/img/pic1.jpg" alt="MaterialImg" class="fw img-responsive"> </div>
				<div class="card-body">
				  <h4 class="mt0">{$titulo}</h4>
				  <p>Código: <strong>{$cod}</strong></p>
				  <p>Peso <small>(kg)</small>: <strong>{$peso}</strong></p>
				  <p>Coleção: <strong>{$colecao}</strong></p>
				  <p>ST: <strong>{$st}</strong></p>
				  <hr>
				  <div class="clearfix">
					<div class="pull-left"><span class="mr-sm text-muted">Criar</span> <a href="novoorcamento">Orçamento</a> | <a href="novopedido">Pedido</a></div>
				  </div>
				</div>
			  </div>
			</div>
       <div class="col-md-3 col-sm-6 col-xs-12">
			  <div class="card">
				<div class="card-item"><img src="{$path}/res/img/pic1.jpg" alt="MaterialImg" class="fw img-responsive"> </div>
				<div class="card-body">
				  <h4 class="mt0">{$titulo}</h4>
				  <p>Código: <strong>{$cod}</strong></p>
				  <p>Peso <small>(kg)</small>: <strong>{$peso}</strong></p>
				  <p>Coleção: <strong>{$colecao}</strong></p>
				  <p>ST: <strong>{$st}</strong></p>
				  <hr>
				  <div class="clearfix">
					<div class="pull-left"><span class="mr-sm text-muted">Criar</span> <a href="novoorcamento">Orçamento</a> | <a href="novopedido">Pedido</a></div>
				  </div>
				</div>
			  </div>
			</div>
       <div class="col-md-3 col-sm-6 col-xs-12">
			  <div class="card">
				<div class="card-item"><img src="{$path}/res/img/pic1.jpg" alt="MaterialImg" class="fw img-responsive"> </div>
				<div class="card-body">
				  <h4 class="mt0">{$titulo}</h4>
				  <p>Código: <strong>{$cod}</strong></p>
				  <p>Peso <small>(kg)</small>: <strong>{$peso}</strong></p>
				  <p>Coleção: <strong>{$colecao}</strong></p>
				  <p>ST: <strong>{$st}</strong></p>
				  <hr>
				  <div class="clearfix">
					<div class="pull-left"><span class="mr-sm text-muted">Criar</span> <a href="novoorcamento">Orçamento</a> | <a href="novopedido">Pedido</a></div>
				  </div>
				</div>
			  </div>
			</div>
       <div class="col-md-3 col-sm-6 col-xs-12">
			  <div class="card">
				<div class="card-item"><img src="{$path}/res/img/pic1.jpg" alt="MaterialImg" class="fw img-responsive"> </div>
				<div class="card-body">
				  <h4 class="mt0">{$titulo}</h4>
				  <p>Código: <strong>{$cod}</strong></p>
				  <p>Peso <small>(kg)</small>: <strong>{$peso}</strong></p>
				  <p>Coleção: <strong>{$colecao}</strong></p>
				  <p>ST: <strong>{$st}</strong></p>
				  <hr>
				  <div class="clearfix">
					<div class="pull-left"><span class="mr-sm text-muted">Criar</span> <a href="novoorcamento">Orçamento</a> | <a href="novopedido">Pedido</a></div>
				  </div>
				</div>
			  </div>
			</div>
       <div class="col-md-3 col-sm-6 col-xs-12">
			  <div class="card">
				<div class="card-item"><img src="{$path}/res/img/pic1.jpg" alt="MaterialImg" class="fw img-responsive"> </div>
				<div class="card-body">
				  <h4 class="mt0">{$titulo}</h4>
				  <p>Código: <strong>{$cod}</strong></p>
				  <p>Peso <small>(kg)</small>: <strong>{$peso}</strong></p>
				  <p>Coleção: <strong>{$colecao}</strong></p>
				  <p>ST: <strong>{$st}</strong></p>
				  <hr>
				  <div class="clearfix">
					<div class="pull-left"><span class="mr-sm text-muted">Criar</span> <a href="novoorcamento">Orçamento</a> | <a href="novopedido">Pedido</a></div>
				  </div>
				</div>
			  </div>
			</div>
        </div>
        <nav class="text-center clearfix">
          <ul class="pagination pagination-rounded">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><span>...</span></li>
            <li><a href="#">14</a></li>
            <li><a href="#">15</a></li>
            <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
          </ul>
        </nav>
        
      </div>
    </div>
  </div>
</section>
