      <!-- sidebar-->
      <aside class="sidebar-container">
        <div class="sidebar-header">
          <div class="pull-right pt-lg text-muted hidden"><em class="ion-close-round"></em></div><a href="home" class="sidebar-header-logo"><img src="{$path}res/img/logo.png" data-svg-replace="{$path}res/img/logo.svg" alt="Logo"><span class="sidebar-header-logo-text">GAIL</span></a>
        </div>
        <div class="sidebar-content">
          <div class="sidebar-toolbar text-center"><a href=""><img src="{$path}res/img/user/01.jpg" alt="Profile" class="img-circle thumb64"></a>
            <div class="mt">Bem vindo, Guilherme</div>
          </div>
          <nav class="sidebar-nav">
            <ul>
              <li><a href="home" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-left"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="{$path}res/img/icons/connection-bars.svg" alt="MenuItem" class="hidden"></span><span>Dashboard</span></a></li>
              
              <li><a href="orcamentos" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-left"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="{$path}res/img/icons/chatbox-working.svg" alt="MenuItem" class="hidden"></span><span>Orçamentos</span></a>
              </li>
              
              <li><a href="pedidos" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-left"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="{$path}res/img/icons/clipboard.svg" alt="MenuItem" class="hidden"></span><span>Pedidos</span></a>
              </li>
              
              <li><a href="clientes" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-left"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="{$path}res/img/icons/person-stalker.svg" alt="MenuItem" class="hidden"></span><span>Clientes</span></a>
              </li>
              
              <li><a href="produtos" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-left"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="{$path}res/img/icons/ios-box.svg" alt="MenuItem" class="hidden"></span><span>Produtos</span></a></li>
              
              <li><a href="transportadoras" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-left"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="{$path}res/img/icons/map.svg" alt="MenuItem" class="hidden"></span><span>Transportadoras</span></a>
              </li>
              
              <li><a href="obras" class="ripple"><span class="pull-right nav-caret"><em class="ion-ios-arrow-left"></em></span><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="{$path}res/img/icons/flag.svg" alt="MenuItem" class="hidden"></span><span>Obras</span></a>
              </li>

            </ul>
          </nav>
        </div>
      </aside>
      <div class="sidebar-layout-obfuscator"></div>